name: Linter
on: [push]
jobs:
    lint:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                version: [3.12]

        steps:
            - uses: actions/checkout@v6
            - name: Set up Python ${{ matrix.version }}
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r requirements_dev.txt
            - name: Run linter on apis
              run: |
                  flake8 --ignore=E501,E128 imcsdk/apis
